{
  "presets": [
    "module:metro-react-native-babel-preset",
    "@babel/preset-flow"
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
      "@babel/plugin-proposal-export-default-from",
      "@babel/plugin-proposal-export-namespace-from",
    ["module-resolver",
      {
        "cwd": "babelrc",
        "root": [
          "./src"
        ],
        "extensions": [".js"],
        "alias": {
          "assets": "./assets",
          "proptypes": "./src/constants/prop-types",
          "errors": "./src/constants/errors",
          "navigation": "./src/navigation",
          "screens": "./src/screens",
          "components": "./src/components"
        }
      }
    ]
  ]
}
